// 메인 랜딩페이지
main {
    // padding: calc(var(--header-height) + 3.8rem) 1.2rem 0px 1.2rem !important;

    .main-inner {
        // 인트로 섹션 스타일
        > article {
            &#marquee {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                // height: ;
                background: var(--color-gray-900);
                padding: 0.8rem 0;
            }

            &#intro {
                height: calc(50vh - var(--header-height));

                .swiper-wrapper {
                    height: 100%;

                    .swiper-slide {
                        width: 100% !important;

                        .item {
                            width: 100vw;
                            display: block;
                            border-radius: 2.4rem;
                            position: relative;
                            overflow: hidden;
                            height: 100%;
                            
                            > figure {
                                height: 100%;
        
                                > div {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 100;
                                    color: white;
            
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                    flex-direction: column;
            
                                    > button {
                                        margin-top: 2.4rem;
                                        border: 1px solid white;
                                        padding: var(--button-lg-padding);
                                        color: white;
                                    }
                                }
            
                                > .info {
                                    position: absolute;
                                    padding: 0 120px;
                                    background-image: url("/images/common/img-common-cover-tile.png");
                                    background-size: 100% 100%;
        
                                    p {
                                        color: var(--color-brand-500);
                                        margin-bottom: 0.8rem;
                                    }
        
                                    h5 {
                                        font-size: 3.2rem;
                                        margin-bottom: 1.4rem;
                                    }
        
                                    figcaption {
                                        color: var(--color-gray-500);
                                    }
        
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
                                        width: 100%;
                                        height: 100%;
                                        z-index: -1;
                                    }
                                }
            
                                > .albumart {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }
                    }

                }
                
            }

            // 플레이리스트
            &#playlist {
                > section {
                    &:last-child {
                        display: flex;
                        gap: 2.4rem;

                        .item {
                            height: 17.5rem;
                            width: calc(100vw / 3);
                            position: relative;
                            border-radius: 2.4rem;
                            overflow: hidden;

                            .image {

                            }

                            .info {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                color: white;
                                padding: 2.4rem;

                                background-image: url("/images/common/img-common-cover-tile.png");
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }

            // 이벤트
            &#event {
                > img {
                    width: 100%;
                }
            }

            // 아티스트
            &#artist {
                > .section-artist-container {
                    display: flex;
                    gap: 2.4rem;
                    width: 100%;

                    .item {
                        width: calc(100vw / 8);
                        height: 24.0rem;
                        flex: 1;
                        position: relative;
                        border-radius: 10.0rem;

                        &:hover {
                            > .info {
                                background: rgb(0 0 0 / 0%);
                                border: 8px solid rgba(255, 255, 255, 0.4392156863);
                                backdrop-filter: blur(10px);
                                -webkit-backdrop-filter: blur(10px);
                            }
                        }

                        &:not(:hover) {
                            > .info {
                                background: rgb(0 0 0 / 50%);
                                border: 0px solid #ffffff70;
                            }
                        }

                        // 장식
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: var(--color-gray-900);
                            width: 0.4rem;
                            height: 2.4rem;
                            transform: rotate(45deg);
                        }

                        > img {
                            object-fit: cover;
                            height: 240px;
                            width: 100%;
                            border-radius: 10.0rem;
                        }

                        > .info {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #0000000e;
                            color: white;
                            border-radius: 10.0rem;
                            transition: 0.25s;
                            backdrop-filter: blur(0px);
                            -webkit-backdrop-filter: blur(0px);
                            z-index: 100;

                            > section {
                                position: absolute;

                                &.artist {
                                    top: 50%;
                                    left: 0.8rem;
                                    transform: translate(0, -50%);

                                    > p {
                                        font-size: 1.4rem;
                                        color: rgba(255, 255, 255, 0.5);
                                        font-weight: 900;
                                    }

                                    > figcaption {
                                        font-size: 2.0rem;
                                        font-weight: 600;
                                    }
                                }
    
                                &.view {
                                    bottom: 2.4rem;
                                    left: 50%;
                                    transform: translate(-50%, 0);

                                    > h5 {
                                        color: rgba(255, 255, 255, 0.5);
                                    }
                                }

                            }
                        }
                    }
                }
            }

            // 앨범
            &#album {
                > .section-album-container {
                    display: flex;
                    gap: 2.4rem;

                    .item {
                        width: calc(100vw / 6);
                        position: relative;
                        text-decoration: none;
                        flex: 1;
                        transition: 0.25s transform;

                        // 장식
                        &::before {
                            content: '';
                            position: absolute;
                            top: 1.2rem;
                            right: calc(1.2rem * 2);
                            background: white;
                            width: 0.4rem;
                            height: 2.4rem;
                            transform: rotate(45deg);
                        }

                        > img {
                            width: 100%;
                            margin-bottom: 1.2rem;
                            border-radius: 2.4rem;
                        }

                        > .info {
                            > figcaption {
                                font-size: 1.6rem;
                                font-weight: 700;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2; 
                                -webkit-box-orient: vertical;
                                margin-bottom: 0.8rem;
                            }

                            > p {
                                font-size: 1.4rem;
                                color: var(--color-gray-500);
                            }
                        }

                        &:hover {
                            transform: scale(0.97);
                        }
                    }
                }
            }

            // 최근 재생목록
            &#recent {
                > .section-recent-container {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 0.8rem;
                    column-gap: 1.2rem;

                    > figure {
                        display: flex;
                        align-items: center;
                        width: calc(50% - 0.6rem);
                        
                        > img {
                            border-radius: 1.2rem;
                            height: 7.2rem;
                            width: 7.2rem;
                        }
                        
                        > .info {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 2.4rem;

                            > section {
                                &:first-child {
                                    cursor: default;
                                    
                                    > figcaption {
                                        font-size: 1.8rem;
                                        font-weight: 600;
                                        margin-bottom: 0.4rem;
                                    }

                                    > p {
                                        color: var(--color-gray-500);
                                        font-size: 1.4rem;
                                    }
                                }
                                &:last-child {
                                    > button {
                                        border: none;
                                        background: none;
                                        cursor: pointer;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            // 각 섹션별 타이틀
            > .section-title-container {
                margin-bottom: 1.6rem;

                > h5 {
                    font-weight: 700;
                    font-size: 2.4rem;
                }

                > p {
                    color: var(--color-gray-500);
                    font-size: 1.6rem;
                    margin-bottom: 0.4rem;
                }
            }
        }
    }
}
