#alert {
    color: white;
    background: #0000006b;
    padding: 1.8rem;
    border-radius: var(--border-radius);
    text-align: center;
    backdrop-filter: blur(80px);
    border: 1px solid #ffffff24;
    mix-blend-mode: soft-light;
}