// PC
@media screen and (max-width: 1024px) {
    /* 화면 너비가 1024px 이하인 경우에만 적용되는 스타일 */

    // 메인
    main {
        // 랜딩 페이지
        .main-inner {
            > article {
                > section {
                    // 정보 섹션
                    &#information {
                        .scroll {
                            > .parallax {
                                > .scroller {
                                    span {
                                        font-size: 7.2rem;
                                        padding: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 네비
    nav {
        > .nav-inner {
            > section {
                // 메뉴
                &:first-child {
                    > ul {
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// 타블렛
@media screen and (max-width: 768px) {
    /* 화면 너비가 최대 768px 이하인 경우에만 적용되는 스타일 */
    :root {
        // 기본 브라우저 폰트 크기의 56.25%, 즉 16px의 56.25%는 9px
        font-size: 56.25%;
        cursor: default;

        button,
        a {
            cursor: default;
        }
    }

    // 헤더
    header {
        // 기본값
        .header-inner {
            padding: 0 3rem;

            // 모바일 메뉴 버튼
            > .mobile-menu-btn {
                display: block;
                right: 3rem;

                &:active {
                    transform: scale(1);
                }

                &:hover {
                    &::before,
                    &::after {
                        transform: unset;
                    }

                    &::after {
                        width: 50%;
                    }
                }

                &.show {
                    &:hover {
                        &::before {
                            width: 100%;
                            transform: translateY(0.5rem) rotate(45deg);
                        }
                        &::after {
                            width: 100%;
                            transform: translateY(-1rem) rotate(135deg);
                        }
                    }
                }
            }

            // PC 메뉴
            .menu {
                display: none;
            }
        }

        // 페이지별
        &.page {
            // 채용
            &.career {
                &.scrolled {
                    > .header-inner {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }

    // 메인
    main {
        // 로딩
        .route-change-container {
            // 페이지 정보
            > .info {
                > h2 {
                    font-size: 5.2rem;
                }
            }
        }

        // 공통 페이지
        .main-inner {
            // 페이지별 타이틀
            #pageTitle {
                .page-title-inner {
                    > .scroll {
                        > .parallax {
                            overflow: hidden;

                            > .scroller {
                                span {
                                    font-size: 6.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        // 랜딩 페이지
        &.main {
            > .main-inner {
                //  내용
                > section {
                    overflow: hidden;

                    // 메인 인트로
                    &#intro {
                        > .video {
                            overflow: hidden;
                            > video {
                                width: 150% !important;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, 0);
                                overflow: hidden;
                            }
                        }
                    }

                    &#contact {
                        > img {
                            width: calc(100vw - 4rem);
                            display: block;
                            margin: 0 auto;

                            &:nth-child(1) {
                                width: 50vw;
                            }
                        }

                        > button {
                            padding-top: unset;
                            padding: 3rem;

                            &:hover {
                                background: transparent;
                                color: var(--main-text-color);
                            }
                        }
                    }
                }

                > article {
                    // 섹션별 제목
                    > #title {
                        height: 4.2rem;

                        > section {
                            left: 0;
                            padding: 0 3rem;
                            box-sizing: border-box;

                            > div {
                                width: 100%;
                                margin-bottom: 1.6rem;

                                &.type {
                                    > h2 {
                                        will-change: transform;
                                    }
                                }

                                &.title {
                                    width: 100%;
                                    > h2 {
                                        will-change: transform;
                                    }
                                }

                                &.action {
                                    position: static;
                                    transform: none;
                                    max-width: fit-content;

                                    > a {
                                        margin: 0;
                                        padding: 1.6rem;

                                        &::before,
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    // 섹션별
                    > section {
                        &::after {
                            height: 30%;
                        }

                        // 프로젝트
                        &#project {
                            // > .img {
                            //     height: 30%;
                            // }

                            // > section {
                            //     &.list {
                            //         flex-direction: column;
                            //         width: 100%;
                            //         padding: 0 3rem;

                            //         > .item {
                            //             width: 100%;
                            //         }
                            //     }
                            // }

                            justify-content: flex-end;

                            > a {
                                padding: 3rem;
                                flex-direction: column;

                                > section {
                                    flex-direction: column;
                                    gap: 1.6rem;

                                    > span {
                                        width: 100%;

                                        > p {
                                            padding: 0;
                                        }

                                        &:last-child {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            -webkit-box-orient: vertical;
                                            width: 100%;
                                            line-height: 1.2em;
                                            height: fit-content;
                                            letter-spacing: 0.5px;
                                        }
                                    }
                                }
                            }

                            // 뒷배경 장식 숨김처리
                            &::before {
                                display: none;
                            }
                        }

                        // 정보
                        &#information {
                            > .scroll {
                                top: calc(25vh + 60%);

                                > .parallax {
                                    overflow: hidden;

                                    > .scroller {
                                        span {
                                            font-size: 4.2rem;
                                            padding: 2rem;
                                        }
                                    }
                                }
                            }
                        }

                        // 채용
                        &#career {
                            .matter {
                                height: 30%;
                            }
                        }

                        // 파트너
                        &#partner {
                            // Marquee 슬라이더
                            > .scroll {
                                top: calc(25vh + 60%);

                                > .parallax {
                                    padding: 0;

                                    > .scroller {
                                        > span {
                                            padding: 0;
                                            > img {
                                                height: 5vh;
                                            }
                                        }
                                    }
                                }
                            }

                            // 뒷배경 장식 숨김처리
                            &::before {
                                display: none;
                            }
                        }

                        // 가림막
                        .domino {
                            height: 30%;
                        }
                    }

                    // 뒷배경 장식 숨김처리
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }

        // 세부 페이지
        &.page {
            // 정보
            &.information {
                .main-inner {
                    > section {
                        &#contents {
                            > section {
                                width: 100%;

                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            // 프로젝트
            &.project {
                .main-inner {
                    > section {
                        &#project {
                            margin-bottom: 2rem;

                            .image-group {
                                flex-direction: column;

                                &:nth-child(odd) {
                                    height: auto;
                                }

                                > .left-side {
                                    height: 50vh;

                                    > .wrap {
                                        > a {
                                            &:first-child {
                                                > img {
                                                    height: 50vh;
                                                }
                                            }

                                            &.content {
                                                &:hover {
                                                    > .scroll {
                                                        opacity: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // 파트너 신청
            &.collabo {
                .main-inner {
                    > section {
                        &#contents {
                            gap: 7rem;
                            flex-direction: column;

                            > section,
                            > form {
                                width: 100%;
                            }

                            > section {
                                &:first-child {
                                    position: static;

                                    P {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // 파트너사 소개
            &.partners {
                .main-inner {
                    > section {
                        &#contents {
                            > section {
                                &.desc {
                                    width: 100%;

                                    > a {
                                        width: 100%;
                                    }
                                }

                                &.scroll {
                                    > .parallax {
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // 채용
            &.career {
                .main-inner {
                    padding: 0 2rem;

                    > section {
                        &#marquee {
                            display: none;
                        }

                        &#contents {
                            > .photo {
                                width: 100%;
                                height: auto;

                                > .wrap {
                                    position: static;
                                    padding: 0;

                                    > div {
                                        flex-direction: column;

                                        > .item {
                                            width: calc(100% - 2rem);
                                            height: auto;

                                            > img {
                                                height: 40vh;
                                                width: calc(100% - 2rem);
                                            }

                                            > .info {
                                                width: calc(100% - 2rem);
                                            }

                                            &:nth-child(even) {
                                                translate: unset;
                                            }
                                        }
                                    }
                                }
                            }

                            > .welfare {
                                height: auto;

                                .item {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }

                                &::after {
                                    display: none;
                                }
                            }

                            > .outro {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    // 네비
    nav {
        > .nav-inner {
            > section {
                // 메뉴
                &:first-child {
                    width: 100%;
                    padding: 0 3rem;
                    box-sizing: border-box;

                    > ul {
                        &:first-child {
                            > li {
                                height: 4.2rem;
                                > div {
                                    > a {
                                        font-size: 4.2rem;

                                        i {
                                            font-size: 1.6rem;
                                            margin-right: 0.4rem;
                                        }
                                    }

                                    &:hover {
                                        transform: skewX(350deg) translateY(-4.2rem);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 푸터
    footer {
        .footer_inner {
            flex-direction: column;
            align-items: center;

            > article {
                justify-content: center;

                // 로고
                &:first-child {
                    display: none;
                }

                // 메뉴/정보
                &:last-child {
                    width: 100%;
                    justify-content: center;

                    > section {
                        // 메뉴
                        &:first-child {
                            display: none;
                        }

                        // 정보
                        &:last-child {
                            // 각 메뉴 구성별
                            > section {
                                align-items: center;

                                h5,
                                p {
                                    width: 100%;
                                    text-align: center;
                                }
                            }

                            // 저작권 표기
                            > h5 {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 커서
    .cursor {
        display: none;
    }

    .scroll {
        .parallax {
            overflow: hidden;
        }
    }
}

// 모바일
@media screen and (max-width: 376px) {
    /* 화면 너비가 최대 376px 이하인 경우에만 적용되는 스타일 */
    :root {
        // 기본 브라우저 폰트 크기의 50%, 즉 16px의 50%는 8px
        font-size: 50%;
    }

    // 메인
    main {
        // 기본 커서
        .progress {
            display: none;
        }

        // 랜딩 페이지
        .main-inner {
            > section {
                // 메인 인트로
                &#intro {
                    > .video {
                        > video {
                            width: 200% !important;
                        }
                    }
                }

                // 스크롤 유도 Marquee
                &#guide {
                    > .scroll {
                        > .parallax {
                            > .scroller {
                                span {
                                    font-size: 4.2rem;
                                }
                            }
                        }
                    }
                }
            }

            > article {
                // 메인 섹션별 제목 및 내용
                #title {
                    height: 4.2rem;

                    > section {
                        left: 0;
                        padding: 0 20px;
                        box-sizing: border-box;

                        > div {
                            margin-bottom: 1.6rem;

                            // 제목
                            &.title {
                                > h2 {
                                    font-size: 9vw;
                                }
                            }

                            // 내용
                            &.desc {
                                > p {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }

                // 정보 섹션
                #information {
                    > section {
                        > .parallax {
                            > .scroller {
                                span {
                                    font-size: 4.2rem;
                                }
                            }
                        }
                    }
                }

                // 섹션 공통 스타일
                > section {
                    p {
                        padding: var(--page-between-padding);
                    }
                }
            }
        }
    }

    // 네비게이션
    nav {
        > .nav-inner {
            > section {
                &:first-child {
                    > ul {
                        &:first-child {
                            > li {
                                > div {
                                    &:hover {
                                        transform: skewX(350deg);

                                        a {
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    // 모바일 메뉴 닫기 버튼
                    > .close {
                        right: auto;
                        left: 50%;
                        transform: translate(-50%, 0) !important;
                    }
                }
            }
        }
    }

    // 푸터
    footer {
        height: auto;

        .footer_inner {
            flex-direction: column;
            gap: 1.6rem;

            > article {
                flex-direction: column;
                text-align: center;

                // 정보
                > section {
                    // 제목
                    h5 {
                        margin-bottom: 1.6rem;
                    }
                }
            }
        }
    }
}
