
// 타블렛
@media screen and (max-width: 768px) {
    /* 화면 너비가 최대 768px 이하인 경우에만 적용되는 스타일 */
    // :root {
    //     // 기본 브라우저 폰트 크기의 56.25%, 즉 16px의 56.25%는 9px
    //     font-size: 56.25%;
    // }

    main {
        // 페이지 : 플레이리스트
        &.page-playlist {
            .main-inner {
                #pageContents {
                    #all {
                        .list {
                            grid-template-columns: repeat(2, 1fr) !important;
                            grid-row-gap: 3.2rem !important;
                            grid-column-gap: 1.2rem !important;
                        }
                    }

                    #info {
                        flex-direction: column !important;
                        max-height: none !important;
                    }

                    #list {
                        .item {
                            .info {
                                section {
                                    &:first-child {
                                        flex-direction: column;
                                        align-items: flex-start !important;
                                        gap: 0.4rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            > section {
                &#min {
                    section {
                        &.action {
                            .playtime {
                                display: none !important;
                            }

                            .buttons {
                                display: flex;
                            }
                        }

                        &.info {
                            .contents {
                                > h6 {
                                    display: none !important;
                                }

                                > div {
                                    flex-direction: column;
                                    align-items: flex-start;

                                    > .title {
                                        font-size: 1.4rem !important;
                                    }
                                }
                            }
                        }
                    }
                }

                &#max {
                    article {
                        &#zonePlay {
                            display: none !important;
                        }

                        &#zoneList {
                            max-width: none !important;
                        }
                    }
                }
            }
        }

        // 페이지 : 아티스트
        &.page-artist {
            .main-inner {
                #pageContents {
                    #all {
                        .list {
                            grid-template-columns: repeat(2, 1fr) !important;
                            grid-row-gap: 3.2rem !important;
                            grid-column-gap: 1.2rem !important;
                        }
                    }

                    #details {
                        flex-direction: column !important;
                        max-height: none !important;
                    }

                    #albums {
                        grid-template-columns: repeat(2, 1fr) !important;
                        grid-row-gap: 3.2rem !important;
                        grid-column-gap: 1.2rem !important;
                    }
                }
            }
        }

        // 페이지 : 앨범
        &.page-album {
            .main-inner {
                #pageContents {
                    #all {
                        .list {
                            grid-template-columns: repeat(2, 1fr) !important;
                            grid-row-gap: 3.2rem !important;
                            grid-column-gap: 1.2rem !important;
                        }
                    }
                }
            }
        }
    }

}

// 모바일
@media screen and (max-width: 376px) {
    /* 화면 너비가 최대 376px 이하인 경우에만 적용되는 스타일 */
    // :root {
    //     // 기본 브라우저 폰트 크기의 50%, 즉 16px의 50%는 8px
    //     font-size: 50%;
    // }

}
